//- Copyright (C) 2019-2020 Bester Intranet
extends admin-home

block admin-content
    .myaccount-table-view
        table.myaccount-table
            tr
                th.myaccount-table-view__cell--align-left Type
            tr
                td.myaccount-table-view__cell--align-left Type