//- Copyright (C) 2019 - 2020 Bester Intranet
extends basic-layout

block content
    .container--center.basic-header-body-container
        h1 #{error.status}
        if env.NODE_ENV === 'development'
            p #{error.stack}
        else
            p #{error.message}