//- Copyright (C) 2019 - 2020 Ryan Bester
extends head

block layout
    #main-header
        .main-header-left
            table
                tr
                    td
                        a.logo-link(href= protocol + mainDomain + '/')
                            img(src= staticProtocol + staticDomain + "/assets/images/logo_white.png" srcset= staticProtocol + staticDomain + "/assets/images/logo_white96x96.png 2x" height="48" width="48" alt="Logo")
                    td
                        a.logo-link(title="Homepage" href= protocol + mainDomain + '/')
                            h1= app.settings.title
                    td
                        a.header-link(title="Files" href= protocol + mainDomain + '/files')
                            h1 Files
        if user
            .main-header-right
                .main-header-dropdown
                    img#main-header-user-dropdown__loading(src= staticProtocol + staticDomain + "/assets/images/loading196x196.gif" height="22" width="22")
                    .main-header-user-dropdown__error-tooltip#main-header-user-dropdown__error
                        img(src= staticProtocol + staticDomain + "/assets/images/error.svg" height="22" width="22")
                        span.main-header-user-dropdown__error-tooltip-text Cannot confirm it's you
                    h1.main-header-dropdown__header#main-header-dropdown-header #{user.first_name} #{user.last_name}
                    img.main-header-dropdown__image(src= staticProtocol + staticDomain + "/assets/images/downarrow16x16.png" srcset= staticProtocol + staticDomain + "/assets/images/downarrow32x32.png 2x" alt="Dropdown arrow")
                    .main-header-dropdown__content
                        ul.main-header-dropdown-content__list
                            li.main-header-dropdown__item
                                a(href= accountsProtocol + accountsDomain + "/myaccount") My Account
                            li.main-header-dropdown__item
                                a(href="") Help
                            li.main-header-dropdown__item
                                a(href= accountsProtocol + accountsDomain + "/logout?nonce=" + logoutNonce) Logout
    block main-content