//- Copyright (C) 2019-2020 Bester Intranet
extends layout

block content
    #main-header
        .main-header-left
            table
                tr
                    td
                        a.logo-link(href='https://www.besterintranet.' + (process.env.NODE_ENV == 'development' ? 'dev' : 'com') + '/')
                            img(src="https://static.besterintranet.com/assets/images/logo_white.png" srcset="https://static.besterintranet.com/assets/images/logo_white96x96.png 2x" height="48" width="48")
                    td
                        a.logo-link(href='https://www.besterintranet.' + (process.env.NODE_ENV == 'development' ? 'dev' : 'com') + '/')
                            h1 Bester Intranet
        if user
            .main-header-right
                .main-header-dropdown
                    img#main-header-user-dropdown__loading(src="https://static.besterintranet.com/assets/images/loading196x196.gif" height="22" width="22")
                    .main-header-user-dropdown__error-tooltip#main-header-user-dropdown__error
                        img(src="https://static.besterintranet.com/assets/images/error.svg" height="22" width="22")
                        span.main-header-user-dropdown__error-tooltip-text Cannot confirm it's you
                    h1.main-header-dropdown__header#main-header-dropdown-header #{user.first_name} #{user.last_name}
                    img.main-header-dropdown__image(src="https://static.besterintranet.com/assets/images/downarrow16x16.png" srcset="https://static.besterintranet.com/assets/images/downarrow32x32.png 2x")
                    .main-header-dropdown__content
                        ul.main-header-dropdown-content__list
                            li.main-header-dropdown__item
                                a(href="") Help
                            li.main-header-dropdown__item
                                a(href="https://accounts.besterintranet." + tld + "/logout/?nonce=" + logoutNonce) Logout
    .main-container
        if user
            h1 Hello, #{user.first_name} #{user.last_name}
        else
            h1 Login to customise your Dashboard
            p
                a(href="https://accounts.besterintranet." + tld + "/login/") Login
        block home-content
            if tld == 'dev'
                .home-page-grid-container
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            .home-page-grid-container__widget-title
                                h1 Item
                                .home-page-grid-container__widget-title-menu
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 2
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 3
                            p Some more content to fill the space
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 4
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 5
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 6
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 7
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 8
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 9
                    //-.home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Item 10
                    //-.home-page-grid-container__widget.home-page-grid-container__widget--add#add-widget-btn
                        .home-page-grid-container__widget-content
                            a(href="").home-page-grid-container__widget__full-link
                                h1 Add Widget
            else
                .home-page-grid-container
                    .home-page-grid-container__widget
                        .home-page-grid-container__widget-content
                            h1 Coming Soon