//- Copyright (C) 2019 Ryan Bester
extends myaccount

block myaccount-content
    h3 Recommendations (2)
    .myaccount-stack-view
        a.myaccount-stack-view__box(href="")
            span Enable Two-factor Authentication
        a.myaccount-stack-view__box(href="")
            span Set a secure password