//- Copyright (C) 2019-2020 Bester Intranet
extends layout

block content
    .basic-container
        #basic-header
            .basic-header-left
                table
                    tr
                        td
                            a.logo-link(href='https://' + main_domain + '/')
                                img(src="https://" + static_domain + "/assets/images/logo.png" srcset="https://" + static_domain + "/assets/images/logo96x96.png 2x" height="48" width="48")
                        td
                            a.logo-link(href='https://' + main_domain + '/')
                                h1 Bester Intranet
            if user
                .basic-header-right
                    .user-dropdown
                        h1.user-dropdown__header#user-dropdown-header #{user.first_name} #{user.last_name}
                        img.user-dropdown__image(src="https://" + static_domain + "/assets/images/downarrow16x16.png" srcset="https://" + static_domain + "/assets/images/downarrow32x32.png 2x")
                        .user-dropdown__content
                            ul.user-dropdown-content__list
                                li.user-dropdown__item
                                    a(href="") Help
                                li.user-dropdown__item
                                    a(href="/logout/?nonce=" + logoutNonce) Logout
        .container--center.basic-header-body-container
            h1 My Account
            .myaccount-container
                .navigation-bar--center.my-account-navigation
                    ul.navigation-bar--center__list
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "home" ? "navigation-bar--center__link--active" : undefined) href='/myaccount/') Home
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "my-info" ? "navigation-bar--center__link--active" : undefined) href='/myaccount/my-info/') My Information
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "security" ? "navigation-bar--center__link--active" : undefined) href='/myaccount/security/') Security
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "services" ? "navigation-bar--center__link--active" : undefined) href='/myaccount/services/') Services
                        li.navigation-bar--center__item
                            a.navigation-bar--center__link(class=(activeItem === "data" ? "navigation-bar--center__link--active" : undefined) href='/myaccount/data/') Data
                if subtitle
                    h2= subtitle
                block myaccount-content
                p &copy; 2017&ndash;#{(new Date()).getFullYear()} Bester Intranet