//- Copyright (C) 2019-2020 Bester Intranet
extends myaccount

block myaccount-content
    p Would you like to stay logged in on this device?
    .myaccount-stack-view
        a.myaccount-stack-view__box.myaccount-stack-view__box--related(href="other-devices/?nonce=" + otherDevicesNonce)
            span Keep me logged in
            img.myaccount-stack-view__box-image(src="https://" + static_domain + "/assets/images/rightarrow16x16.png" srcset="https://" + static_domain + "/assets/images/rightarrow32x32.png 2x")
        a.myaccount-stack-view__box.myaccount-stack-view__box--related(href="all-devices/?nonce=" + allDevicesNonce)
            span Log me out everywhere
            img.myaccount-stack-view__box-image(src="https://" + static_domain + "/assets/images/rightarrow16x16.png" srcset="https://" + static_domain + "/assets/images/rightarrow32x32.png 2x")