* {
    font-family: 'Arial', sans-serif;
}

body:not(#basic-header) {
    padding: 15px;
}

pre {
    font-family: 'Consolas', 'Courier New', 'monospace';
}

input {
    margin-bottom: 15px;
    border: 1px solid #666666;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
}

input:focus {
    outline: none;
    border: 1px solid #000000;
    background-color: #CFDBFF;
}

input:hover:not(:disabled) {
    border: 1px solid #000000;
    background-color: #CFDBFF;
}

input:disabled {
    background-color: #DDDDDD;
}

input[type="submit"] {
    background-color: #002DB3;
    color: #FFFFFF;
}

input[type="text"], input[type="password"] {

}

input.is-invalid {
    border-color: #721C24;
    background-color: #F8D7DA;
}

input.is-invalid ~ .invalid-feedback {
    display: block;
}

select {
    background-color: #FFFFFF;
    margin-bottom: 15px;
    border: 1px solid #666666;
    padding: 10px;
    font-size: 20px;
    border-radius: 7px;
}

select:focus {
    outline: none;
    border: 1px solid #000000;
    background-color: #CFDBFF;
}

select:hover:not(:disabled){
    border: 1px solid #000000;
    background-color: #CFDBFF;
}

select:disabled {
    background-color: #DDDDDD;
}

.invalid-feedback {
    display: none;
    color: #721C24;
    font-size: 18px;
    margin-left: 10px;
}

label {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 10px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 28px;
    margin-bottom: 0;
    margin-top: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container:hover .checkbox-checkmark {
    border: 1px solid #000000;
    background-color: #CFDBFF;
}

.checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 7px;
    font-size: 20px;
}

.checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid #FFFFFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkbox-container input:checked ~ .checkbox-checkmark {
    background-color: #002DB3;
}

.checkbox-container input:checked ~ .checkbox-checkmark:after {
    display: block;
}

.clear {
    clear: both;
}

.error {
    color: #721C24;
    background-color: #F8D7DA;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
}

.success {
    color: #155724;
    background-color: #d4edda;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
}

.basic-container {
    padding-left: 10%;
    padding-right: 10%;
}

#basic-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#basic-header table tr td h1 {
    padding-left: 15px;
}

.basic-header-left {
    display: flex;
    flex-direction: column;
}

.basic-header-right {
    display: flex;
    flex-direction: column;
}

.container--center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-form input:not([type="checkbox"]) {
    width: calc(500px - 20px);
}

.login-form input[type="submit"] {
    width: 500px;
}

#login-form__error-message {
    color: #721C24;
    background-color: #F8D7DA;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
}

#login-form__input-username {
    display: inline-block;
    width: 280px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#login-form__input-email-domain {
    width: 180px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    margin-bottom: 0;
}

.login-form__email-domain-dropdown {
    display: inline-block;
    width: 200px;
    position: absolute;
}

.login-form__email-domain-dropdown__image {
    position: absolute;
    top: 14px;
    right: 8px;
}

.login-form__email-domain-dropdown__image:hover + #login-form__input-email-domain {
    border-color: #000000;
    background-color: #DDDDDD;
}

.login-form__email-domain-dropdown__content {
    background-color: #FFFFFF;
    display: none;
    border: 1px solid #000000;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.login-form__email-domain-dropdown-content__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.login-form__email-domain-dropdown__item {
    padding: 7px;
}

.login-form__email-domain-dropdown__item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.login-form__email-domain-dropdown__item:hover, .login-form__email-domain-dropdown__item--active {
    background-color: #CFDBFF;
}

.navigation-bar--center {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 7px;
}

.navigation-bar--center__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.navigation-bar--center__item {
    display: inline-block;
    margin: 15px 5px 14px 5px;
}

.navigation-bar--center__item:first-child {
    margin-left: 0;
}

.navigation-bar--center__item:last-child {
    margin-right: 0;
}

.navigation-bar--center__link {
    color: #000000;
    padding: 15px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 20px;
}

.navigation-bar--center__link:hover {
    background-color: #CFDBFF;
    color: #000000;
}

.navigation-bar--center__link--active, .navigation-bar--center__link--active:hover {
    background-color: #002DB3;
    color: #FFFFFF;
}

.myaccount-container h2 {
    text-align: center;
}

.myaccount-container h3 {
    text-align: left;
}

.myaccount-stack-view__box {
    display: flex;
    border: 1px solid #666666;
    border-radius: 7px;
    margin-bottom: 15px;
    padding: 15px;
    color: #000000;
    text-decoration: none;
    flex-wrap: wrap;
}

.myaccount-stack_view__box:last-child {
    margin-bottom: 0;
}

.myaccount-stack-view__box:hover {
    background-color: #CFDBFF;
}

.myaccount-stack-view__box span {
    margin: 0;
    margin-right: 15px;
}

.myaccount-stack-view__box span:first-child {
    flex-grow: 1;
}

.myaccount-stack-view__box-value {
    color: #666666;
}

.myaccount-stack-view__box-container {
    flex: 0 0 100%;
}

.myaccount-stack-view__box--related {
    margin: 0;
}

.myaccount-stack-view__box--related:not(:last-child) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
}

.myaccount-stack-view__box--related:not(:first-child) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.myaccount-form input[type='text'],
.myaccount-form input[type='password'] {
    width: calc(100% - 20px);
}

.myaccount-form input {
    width: 100%;
}

.user-dropdown {
    position: relative;
    border: 1px solid transparent;
    padding-left: 7px;
    padding-right: 7px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.user-dropdown:hover {
    background-color: #CFDBFF;
    border: 1px solid #000000;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.user-dropdown:hover .user-dropdown__content {
    display: block;
}

.user-dropdown__header {
    display: inline-block;
}

.user-dropdown__image {
    position: relative;
    margin-left: 12px;
}

.user-dropdown__content {
    position: absolute;
    left: -1px;
    width: 100%;
    background-color: #FFFFFF;
    display: none;
    border: 1px solid #000000;
    border-top: none;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.user-dropdown-content__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-dropdown__item:last-child {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.user-dropdown__item:hover {
    background-color: #CFDBFF;
}

.user-dropdown__item a {
    display: block;
    padding: 7px;
    text-decoration: none;
    color: #000000;
}

#myaccount-data-usage-bar {
    height: 20px;
    position: relative;
    margin-top: 15px;
    background-color: #BBBBBB;
    border-radius: 7px;
}

.myaccount-data-usage-bar__used {
    position: absolute;
    height: 100%;
    background-color: #002DB3;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#myaccount-name-form-day {
    width: 25%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#myaccount-name-form-month {
    width: 50%;
    border-radius: 0;
    border-left: none;
    border-right: none;
}

#myaccount-name-form-year {
    width: 25%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media screen and (max-width: 840px) {
    .basic-container {   
        padding-left: 7%;
        padding-right: 7%;;
    }
}

@media screen and (max-width: 680px) {
    .login-form-container {
        width: 100%;
    }

    .login-form input:not([type="checkbox"]) {
        width: calc(100% - 20px)
    }
    
    .login-form input[type="submit"] {
        width: 100%;
    }

    #login-form__input-username {
        width: calc(100% - 220px);
    }
    
    #login-form__input-email-domain {
        width: 180px;
    }
}