//- Copyright (C) 2019 - 2020 Ryan Bester
extends ../layout

block admin-content
    if message
        h2.success= message
    a.button(href='users/new') New user
    if hasPermission
        if users
            if users.length > 0
                .myaccount-table-view
                    table.myaccount-table
                        tr
                            th.myaccount-table-view__cell--align-left First Name
                            th.myaccount-table-view__cell--align-left Last Name
                            th.myaccount-table-view__cell--align-left Email Address
                            th.myaccount-table-view__cell--align-left Locked
                            th.myaccount-table-view__cell--align-left Date Added
                        each user in users
                            tr
                                td.myaccount-table-view__cell--align-left
                                    a(href= '/admin/users/' + user.user_id.toLowerCase())= user.first_name
                                td.myaccount-table-view__cell--align-left
                                    a(href= '/admin/users/' + user.user_id.toLowerCase())= user.last_name
                                td.myaccount-table-view__cell--align-left
                                    a(href= '/admin/users/' + user.user_id.toLowerCase())= user.email_address
                                td.myaccount-table-view__cell--align-left
                                    a(href= '/admin/users/' + user.user_id.toLowerCase())= (user.locked ? 'Yes' : 'No')
                                td.myaccount-table-view__cell--align-left
                                    a(href= '/admin/users/' + user.user_id.toLowerCase()) #{user.date_added.getDate()}/#{user.date_added.getMonth() + 1}/#{user.date_added.getFullYear()}
            else
                p No users
        else
            p No users
    else
        p You do not have permission to list users.